@charset "UTF-8";
@import url('../assets/css/add-media.css');
.ml10 {margin-left:10px}
.mt10 {margin-top:10px}

span.blue {color:#175f77}


.header_btn_box {background:#e2e4e5;position:fixed;z-index:2;height:50px;padding-top:15px;width:100%;}
.header_btn_box select {border:2px solid #717171;height:26px;margin-right:5px}
.header-elements button {padding:0.125rem 0.225rem}
.header_btn_box_line div {}
.header_btn_box_line {}


.color-btn {background:#818181;color:#fff}
.color-btn2 {background:#adadad;color:#fff}
.color-title {color:#000}
.color-btn3 {background:#d2ebed;color:#000}
.color-btn4 {background:#f2bc01;color:#000}
.color-btn5 {background:#bec754;color:#000}

img.mark2 {margin-right:3px}

.table_type1 {border-top:1px solid #009688}
.table_type1 thead th{font-weight:600;background:#eefaf6;font-size:1.1em;}
.table_type1 thead td {border-bottom:1px solid #b7b7b7}
.table_type1 tbody th {text-align:center}
.table_type1 tbody th.color1 {background:#eefaf6;}
.table_type1 tbody tr:last-child {border-bottom:1px solid #acabab}



.paper {border:1px solid #b8b8b8;border-radius:5px;width:50%;padding:10px}
.paper div.paper_title {background:#d3d4d5;font-size:1.1em;padding:10px 0 ;text-align:center;border-bottom:1px solid #acabab}

.multi_list {border-bottom:2px solid #4d90b6;padding:10px;margin:10px 0}

.table_type2 {background:#fff;}
.table_type2 thead th{font-weight:600;font-size:1.1em;padding:5px 0;background:#4d90b6;color:#fff}
.table_type2 thead td {border-bottom:1px solid #b7b7b7}
.table_type2 tbody th {text-align:center;padding:5px 0}
.table_type2 tbody th.color1 {background:#eefaf6;}
.table_type2 tbody tr:last-child {border-bottom:1px solid #acabab}

.multi_search {background:#fff;border:1px solid #d9d9d9;border-radius:3px;padding:5px 10px;margin-bottom:10px;text-align:center}
.multi_search input {height:26px;border:1px solid #d9d9d9; border-radius:3px;}
.multi_search button {height:26px;vertical-align:top;padding:0 10px}

.top_right {position:fixed;right:10px;top:7px;background:#fff;padding:0 5px;border-radius:20px;}
.top_right_sel {width:120px;padding:0 0 0 15px;margin:0;}
.top_right_sel select {padding:10px;margin:0;border:none}
.top_right_ch {color:#000;padding:10px 5px 0 0;margin-left:20px}




.fs-div {position:absolute;right:23px;top:10px}

.main-title {background:#007bc3;height:60px;position:fixed;z-index:100;width:100%;}
.logo-box {background:#fff;border-radius:3px;;width:200px;display: inline-block;margin:-5px 0 0 -30px;text-align:center;}
.logo-box img {height:40px}
.lb-right {position:absolute;right:10px;top:0px}
.main-title-text {font-size:21px;color:#fff;font-weight:600;padding:0 35px 0 20px;letter-spacing:-1px;float:left}
.main-title-text span {color:#f1fbd7}

.main-title-text2 {position:absolute;right:25px;top:20px;color:#fff}
.main-title-text2 img {vertical-align:top;padding:7px}
.main-title-text2 img.time {padding:3px 5px 0 0}
.main-title-text2 span {font-weight:600;color:#fdf745}


.main-title-text3 {font-size:21px;color:#fff;font-weight:600;padding:12px;letter-spacing:-1px;margin:0 auto;text-align:center}
.main-title-text3 span {color:#f1fbd7}

.login-logo {width:100%;text-align:center;margin:9% 0 20px 0;}
.login-area {border-top:1px solid #e1e1e1;background:#e3f8fb;overflow:hidden}
.login-area ul, ol, li{list-style: none}
.login-box {margin:0 auto;width:820px}
.login-img {background:url(../../../resource/img/login-img.jpg) no-repeat 30px 20px ;border-right:2px solid #c6e1e5;width:262px;height:280px;padding-top:180px;margin:20px 0;float:left}
.login-img div {background:#455a5d;color:#fff;width:90%;text-align:center;font-size:16px;font-weight:600;padding:20px 10px;line-height:20px}
.login-img div span {color:#96d0fb}

.login-form {margin-left:260px;padding-top:80px;width:560px;}
.login-form input.text {height:45px;background:#fff;border:1px solid #bfd5d8;width:170px;padding-left:10px;margin-top:0px}
.login-form a.login-a {background:#67b4f9;font-size:24px;color:#fff;font-weight:600;padding:4px 42px;margin-left:10px;display:inline-block;vertical-align:top}
.login-form a.login-a:hover {background:#53a4ed}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#a7bcbf;
}
::-webkit-input-placeholder { /* Edge */
  color:#a7bcbf;
}

a.logout {margin-left:10px;padding:2px 7px 3px 25px;color:#fff;background:#5b5b5b url(../../../resource/img/out.png) no-repeat 5px 4px;font-size:11px;border-radius:4px}
a.logout:hover {background:#467794  url(../../../resource/img/out.png) no-repeat 5px 4px}

a.login {margin-left:5px;padding:2px 7px 3px 25px;color:#fff;background:#46aae4 url(../../../resource/img/in.png) no-repeat 5px 4px;font-size:11px;border-radius:4px}
a.login:hover {background:#024267  url(../../../resource/img/in.png) no-repeat 5px 4px}

.login-form ul li.login-check {text-align:right;margin-top:30px;color:#656666;font-weight:600;padding-right:3px}
.login-form ul li.login-check a {color:#656666}
.login-form ul li.login-check a:hover {color:#4f8ed9}
.login-form ul li.login-check span {background:url(../../../resource/img/login-line.png) no-repeat 8px 2px;padding:0 10px}

.logo-area {margin:0 auto;text-align:center;padding:30px 0;border-bottom:1px solid #e1e1e1;width:100%}
.logo-area img {height:42px;margin-right:25px;padding-bottom:10px}

.login-foot {font-size:11px;text-align:center;color:#868585;padding-top:20px}


.mul-area {padding:20px}
.mul-info {background:#e3f8fb;border:1px solid #bdd9dd;padding:10px}
.mul-info img {vertical-align:top;padding:7px 7px 7px 0}

.mul-cont {border:1px solid #c4c6c6;padding:10px;margin:20px 0}
.mul-cont img {width:100%}





/* ======================================== main ======================================== */
.header{position:fixed;top:0px;left:0;right:0;height:55px;z-index:99999;}
.header .gnb{padding-top:15px;}
.header .gnb:after{display:block;content:'';clear:both;}
.header .gnb > li{display:block;float:left;padding:0 25px;border-left:1px solid #a4fca4}
.header .gnb > li:last-child {border-right:1px solid #a4fca4}
.header .gnb > li > a{display:block;font-size:18px;color:#a4fca4;font-weight:bold;}
.header .gnb > li .subMenu{position:absolute;top:55px;left:0;right:0;margin:0 0;height:0;background:#fff url(/images/koem/common/bg_subMenu.gif) no-repeat left top;border-top:1px solid #07a7e3;box-shadow:3px 3px 5px 0px rgba(0,0,0,0.1);z-index:-1;opacity:0;overflow:hidden;transition-duration:0.5s;border-bottom:2px solid #818282}
.header .gnb > li.active .subMenu{height:340px;z-index:11;opacity:1;transition-delay:0.1s;}
.header .gnb > li.active .subMenu-2 {height:340px}
.header.open .gnb > li .subMenu,
.header.open .gnb > li.active .subMenu{transition-delay:0s;transition-duration:0s;}
.header .gnb > li .subMenu > .inner{padding-left:470px;}
.header .gnb > li .subMenu .subNavTitle{position:absolute;left:0;top:0;padding:35px 30px 0 30px;width:470px;height:377px;letter-spacing:-.5px;box-sizing:border-box;}
.header .gnb > li .subMenu .subNavTitle:after{display:block;content:'';position:absolute;right:0;top:0;bottom:0;width:641px;background:#e2fce7;z-index:-2;}
.header .gnb > li .subMenu .subNavTitle b{display:block;margin-bottom:25px;font-size:34px;color:#212121;}
.header .gnb > li .subMenu .subNavTitle p{font-size:15px;color:#464646;line-height:150%;}
.header .gnb > li .subMenu .subNavTitle > span{display:block;position:absolute;right:40px;bottom:55px;height:156px;background-color:transparent;background-image:url(/images/koem/common/img_subNavTitle_all.png);}
 .icon1{background:url(../../../resource/img/menu-img2.png) no-repeat right 210px}
 .icon2{background:url(../../../resource/img/menu-img1.png) no-repeat right 150px}
 .icon3{background:url(../../../resource/img/menu-img3.png) no-repeat right 170px}
 .icon4{background:url(../../../resource/img/menu-img4.png) no-repeat right 180px}
.header .gnb > li .subMenu .subNavTitle .icon2{width:235px;background-position:-240px 0;}
.header .gnb > li .subMenu .subNavTitle .icon3{width:244px;background-position:-475px 0;}
.header .gnb > li .subMenu .subNavTitle .icon4{width:223px;background-position:-720px 0;}
.header .gnb > li .subMenu .subNavTitle .icon5{width:249px;background-position:-943px 0;}
.header .gnb > li .subMenu .subNavTitle .icon6{width:237px;background-position:-1191px 0;}
.header .gnb > li .subMenu .depth2{float:left;padding:10px 10px;width:25%;height:377px;background:#fff;border-right:1px solid #ececec;box-sizing:border-box;}
.header .gnb > li .subMenu .depth2 > li{padding:4px 0;}
.header .gnb > li .subMenu .depth2 > li > a{display:block;padding:6px 0px 6px 8px;font-size:18px;color:#212121;font-weight:bold;font-size:15px;}
.header .gnb > li .subMenu .depth2 > li > a:hover{background:#54aeac url(../../../resource/img/ar.png) no-repeat 90% center;transition-duration:0.2s;color:#fff;border-radius:3px}
.header .gnb > li .subMenu .depth3 li{display:block;position:relative;margin:4px 0 4px -15px;padding-left:10px;}
.header .gnb > li .subMenu .depth3 li:after{display:block;content:'';position:absolute;left:0px;top:9px;width:3px;height:3px;background:#8c8c8c;}
.header .gnb > li .subMenu .depth3 li a{line-height:130%;color:#464646;font-size:14px;letter-spacing:-.2px;}
.header .gnb > li .subMenu .depth3 li a:hover{text-decoration:underline;color:#54aeac;}



.header .gnb > li .subMenu .depth2-type{float:left;padding:13px 10px;width:20%;height:400px;background:#fff;border-right:1px solid #ececec;box-sizing:border-box;}
.header .gnb > li .subMenu .depth2-type > li{padding:5px 0;}

.header .gnb > li .subMenu .depth2-type > li > a{display:block;padding:8px 0px 8px 8px;font-size:18px;color:#212121;font-weight:bold;font-size:15px;}
.header .gnb > li .subMenu .depth2-type > li > a:hover{background:#4b9ed8 url(../../../resource/img/ar.png) no-repeat 90% center;transition-duration:0.2s;color:#fff;}
.header .gnb > li .subMenu .depth2-type > li > span{display:block;padding:8px 0px 8px 8px;font-size:18px;color:#212121;font-weight:bold;font-size:15px;}
.header .gnb > li .subMenu .depth2-type > li > span{background:#4b9ed8;color:#fff;}
.header .gnb > li .subMenu .depth3-type li{display:block;position:relative;margin:0;}
.header .gnb > li .subMenu .depth3-type li:after{display:block;content:'';position:absolute;left:10px;top:13px;width:3px;height:3px;background:#8c8c8c;}
.header .gnb > li .subMenu .depth3-type li a{display:block;line-height:140%;color:#464646;font-size:13px;letter-spacing:-.5px;padding:5px 0px 5px 20px;}
.header .gnb > li .subMenu .depth3-type li a:hover{background:#d3e4f2 url(../../../resource/img/ar.png) no-repeat 90% center;transition-duration:0.2s;}



.header .gnb > li .subMenu div.container_close {position:absolute;width:100%;clear:both;text-align:right;background:#e4e4e4;bottom:0}
.header .gnb > li .subMenu div.container_close a {display:block;padding:5px;color:#444;margin-right:20px}





/* ======================================== SMS ======================================== */
.btn-sms-new{
     position: relative;
    display: inline-block;
    padding: 3px 5px 3px 25px;
    font-weight: 600;
    font-size: 11px;
    text-align: center;
    color: #fff;
   border-radius: 3px;
    border:0px;
	background:#91add0 url(../../../resource/img/re.png) no-repeat 8px 6px ;
}

.btn-sms-sp{
     position: relative;
    display: inline-block;
    padding: 3px 5px 3px 25px;
    font-weight: 600;
    font-size: 11px;
    text-align: center;
    color: #fff;
   border-radius: 3px;
    border:0px;
	background:#91add0 url(../../../resource/img/sp.png) no-repeat 8px 5px ;
}
.btn-sms-text{
     position: relative;
    display: inline-block;
    padding: 3px 5px 3px 25px;
    font-weight: 600;
    font-size: 11px;
    text-align: center;
    color: #fff;
   border-radius: 3px;
    border:0px;
	background:#d78e89 url(../../../resource/img/te.png) no-repeat 8px 8px ;
}

.btn-sms-cal{
     position: relative;
    display: inline-block;
    padding: 3px 10px 3px 25px;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    color: #fff;
   border-radius: 3px;
    border:0px;
	background:url(../../../resource/img/cal.png) no-repeat 1px 2px ;
}
.btn-sms-cal2{
     position: relative;
    display: inline-block;padding-top:5px;vertical-align:middle;width:20px;border:0px;
    text-align: center;
    color: #fff;
	background:url(../../../resource/img/cal2.png) no-repeat center ;
}
.btn-sms-del{
     position: relative;
    display: inline-block;
    padding: 2px 5px;
    font-size: 11px;
    text-align: center;
    color: #fff;
   border-radius: 3px;
    border:0px;background:#555555
}

.btn-sms-pop1{
     position: relative;
    display: inline-block;
    padding: 2px 5px;
    font-size: 11px;
    text-align: center;
    color: #fff;
   border-radius: 3px;
    border:0px;background:#02704d
}

.btn-sms-pop2{
     position: relative;
    display: inline-block;
    padding: 2px 5px;
    font-size: 11px;
    text-align: center;
    color: #fff;
   border-radius: 3px;
    border:0px;background:#025570
}

.btn-sms-pop3{
     position: relative;
    display: inline-block;
    padding: 2px 5px;
    font-size: 11px;
    text-align: center;
    color: #000;
   border-radius: 3px;
    border:0px;background:#efd234
}




.state-area {padding:10px}
.table_line {width:100%; border:2px solid #6696a4;border-spacing:0;border-collapse:collapse;}
.table_line  tr th {background-color:#e4e6eb; color:#555; padding:10px 0px; font-weight:normal; border:1px solid #6696a4;}
.table_line  tr td {background-color:#fff; vertical-align:middle; padding:6px 5px;border:1px solid #6696a4;}
.table_line  tr td.col1 {background:#e0f4d8}
.table_line  tr td.col2 {background:#d8f2f4}
.table_line  tr td.col3 {background:#f4dad8}
.table_line  tr td.right {text-align:right}


.sms-area2 {padding:0;margin:0;width:900px;margin:0 auto;}
.sms-area {padding:0;margin:0;width:700px;margin:0 auto;}
.sms-tit {background:#4554a8 url(../../../resource/img/hp2.png) no-repeat 10px;color:#fff;font-weight:600;font-size:18px;padding:13px 0 13px 40px;border:1px solid;}
.sms-text {background:url(../../../resource/img/phone.png) no-repeat 20px 0px;border-bottom:1px solid #b9bfdd;width:100%}

.state-tit {background:#036887 url(../../../resource/img/state.png) no-repeat 10px;color:#fff;font-weight:600;font-size:18px;padding:20px 0 13px 60px;border:1px solid;}




.file-tit {background:#036887 url(../../../resource/img/file.png) no-repeat 12px 17px;color:#fff;font-weight:600;font-size:18px;padding:20px 0 13px 50px;border:1px solid;}
.file-tit-btn {position:absolute;top:22px;right:10px}
a.file-up {background:#49dcd4 url(../../../resource/img/file-up.png)  no-repeat 8px 4px;padding:3px 10px 3px 30px;font-size:12px;color:#444;border-radius:2px}
a.file-down {background:#36c4ef url(../../../resource/img/file-down.png)  no-repeat 8px 4px;padding:3px 10px 3px 30px;font-size:12px;color:#444;border-radius:2px}
a.file-del {background:url(../../../resource/img/del.png)  no-repeat center;padding:2px 10px;}

.file-list {border:1px solid #6696a4;margin-top:10px;padding:0 10px;font-size:12px;}
.file-list ul{padding:0;}
.file-list ul li {background:url(../../../resource/img/file-list2.png)  no-repeat 0 2px;padding:0 0 0 15px;line-height:130%;margin-top:10px}


.sms-con {margin:23px 20px 0 190px;}
.sms-con ul li.tit {background:url(../../../resource/img/sms-dot.png) no-repeat 0 2px;border-bottom:1px solid;padding:0 0 5px 20px;font-weight:600;color:#4554a8}
.sms-con ul li.ta {padding:10px 0 10px 0;}
.sms-con ul li.ta textarea {border-radius:5px;border:1px solid #d5d8eb;padding:10px;width:100%;height:160px}
.sms-con ul li.ps {font-size:11px;clear:both}

.sms-text2 {border-right:1px solid #b9bfdd;padding:300px 0 0 0 ;border:1px solid}


.sms-con2 {}
.sms-con2-img {background:url(../../../resource/img/phone.png) no-repeat 25px 0px;padding:300px 20px 0 10px;}

.sms-con2 div.sms-con2-tit {background:url(../../../resource/img/sms-dot.png) no-repeat 0 2px;border-bottom:1px solid;padding:0 0 5px 20px;font-weight:600;color:#4554a8;}

.sms-con2 div.ta {padding:10px 0 10px 0;}
.sms-con2 div.ta textarea {border-radius:5px;border:1px solid #d5d8eb;padding:10px;width:100%;height:280px}
.sms-con2 span.ps {font-size:11px;letter-spacing:-0.8px}





.sms-from {width:360px;background:url(../../../resource/img/arrow.png) no-repeat 310px 50px;padding-left:20px;float:left;margin-top:20px}
.sms-to {width:330px;position:relative;float:right;;margin-right:10px;margin-top:20px}




.sms-con2 table.sms-table {width:100%;}
.sms-con2 table.sms-table th,.sms-con2 table.sms-table td {padding:5px 0 5px 5px}
.sms-con2 table.sms-table th {background:#8797ab;color:#fff;text-align:left;border:1px solid #5d7390}
.sms-con2 table.sms-table td {border:1px solid #5d7390;font-size:12px}

.sms-con2 table div.table-con {position:absolute;top:75px;right:9px;}
.sms-con2 table div.table-con2 {position:absolute;top:390px;right:5px;color:red}




.sms-table {width:280px;position:relative}
.sms-table th,.sms-table td {padding:5px 0 5px 5px}
.sms-table th {background:#8797ab;color:#fff;text-align:left;border:1px solid #5d7390}
.sms-table td {border:1px solid #5d7390;font-size:12px}



.sms-box{width:100%;}
.sms-box ul, ol, li{list-style: none;margin:0; padding:0}
.sms-box div ul li.tit {background:url(../../../resource/img/sms-dot.png) no-repeat 0 2px;padding:0 0 5px 25px;font-weight:600;color:#4554a8;}

.table-con {position:absolute;top:7px;right:5px;}
.table-con2 {position:absolute;top:65px;right:5px;color:red}
.sms-to-btn {position:absolute;top:0px;right:0}


.table_mem_se {width:100%; border:2px solid #e0e0e0;border-spacing:0;border-collapse:collapse;}
.table_mem_se tbody tr th {background-color:#e4e6eb; color:#555; padding:8px 0px; font-weight:normal; border:1px solid #e0e0e0;}
.table_mem_se tbody tr td {background-color:#fff; vertical-align:middle; padding:8px 5px;border:1px solid #e0e0e0;}



.table_mem_se2 {width:100%; border-top:2px solid #e0e0e0;border-spacing:0;border-collapse:collapse;}
.table_mem_se2 thead tr th {background-color:#e4e6eb; color:#555; padding:8px 0px; font-weight:normal; border-bottom:1px solid #e0e0e0;}
.table_mem_se2 tbody tr td {background-color:#fff; color:#555;vertical-align:middle; padding:8px 5px;border-bottom:1px solid #e0e0e0;}
.bu_t_blue2 {color:#fff;  background:#6885BF;  padding:6px 10px;-moz-border-radius: 3px; border-radius: 3px;border:none}
.bu_t_blue2:hover {color:#fff; background:#3F5B96;}
.tac {text-align:center !important;}
.tar {text-align:right !important;}
.tal {text-align:left !important; }

.carlendar_btn { margin:0 1px 0 0; border:1px solid #CCC; background:#fff; padding:2px 3px;font-size:11px}
.carlendar_btn a { color:#666666; }

.tableHeadRight {float:right; vertical-align:middle; text-align:right; letter-spacing:-1px;}
.tableHeadDl dt {font-size:11px; padding-top:3px;}
.bu_sss_black {background-color:#797a7f; margin:1px; text-align:center; font-size:11px; color:#fff; vertical-align:middle; -moz-border-radius: 2px; border-radius: 2px;border:none;padding:2px}



.page-smenu {border:2px solid #20b3b1;border-left:30px solid #20b3b1;border-right:30px solid #20b3b1;border-radius:5px;height:50px;margin-bottom:6px;}
.page-smenu div {background:#20b3b1;color:#fff;float:left;padding:10px 30px 15px 0;font-size:15px;font-weight:600;margin-right:10px}
.page-smenu a {display:inline-block;padding:5px 20px;background:#bdbfbf;color:#fff;font-weight:600;border-radius:3px;margin-top:8px;}
.page-smenu a.on {background:#12c084;}
.page-smenu a:hover {background:#12c084;}
.page-smenu a.ps-right {display:inline-block;padding:5px 10px;background:#32abcf;color:#fff;font-weight:600;border-radius:3px;margin-top:8px;margin-right:10px;float:right;letter-spacing:-1px}
.page-smenu a.ps-right:hover {background:#036887;}


.groupBoxL {padding-bottom:10px;margin-top:20px}
.tabBoxHead {min-height:30px; border-bottom:2px solid #4C535F;}
	.tabBoxHeadL {float:left;margin:0;padding:0}
	.tabBoxHeadL li {float:left;  margin-right:1px; }
	.tabBoxHeadL li a {display:inline-block; font-size:12px;padding:7px 12px;background-color:#cdd3dc; letter-spacing:-1px;  height:28px; vertical-align:middle;  font-weight:normal; color:#666; -moz-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-top-right-radius: 5px; border-top-right-radius: 5px;}
	.tabBoxHeadL li a:hover {background:#4c535f; color:#fff}
	.tabBoxHeadL .on {background-color:#4c535f; -moz-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-top-right-radius: 5px; border-top-right-radius: 5px;}
	.tabBoxHeadL .on a {color:#fff; background-color:#4c535f;}
	.tabBoxHeadR {float:right;}
	.tabBoxHeadR li {float:left; padding-left:5px;}
	.tabBoxHeadR  a {display:inline-block; font-size:12px;padding:7px 12px;  background-color:#cdd3dc; margin-left:1px;letter-spacing:-1px;  height:28px; vertical-align:middle;  font-weight:bold; color:#666; -moz-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-top-right-radius: 5px; border-top-right-radius: 5px;}
	.tabBoxHeadR a:hover {background:#4c535f; color:#fff}
	.tabBoxHeadR .on {background-color:#4c535f; -moz-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-top-right-radius: 5px; border-top-right-radius: 5px;}
	.tabBoxHeadR .on a {color:#fff; background-color:#4c535f;}


.table_gray {width:100%; font-size:12px; border:1px solid #ddd;}
.table_gray thead tr th {background-color:#fff; color:#333; border-bottom:1px solid #ddd; font-weight:bold; text-align:left; letter-spacing:-1px; padding:5px}
.table_gray tbody tr th {background-color:#ededed; color:#333; border-bottom:1px solid #ddd; font-weight:normal; text-align:left;  padding:5px;}
.table_gray tbody tr td {background-color:#fff; color:#777; vertical-align:middle; border-bottom:1px solid #ddd; text-align:left;padding:5px;}
.table_gray tbody tr td input[readonly] {background:#f7f7f7;} 
.table_gray .subtitles {background-color:#f1f1f1; vertical-align:middle; border-bottom:1px solid #ddd; text-align:left;}
.table_gray dl {margin:5px;}
.table_gray dl dt {float:left;}
.table_gray dl dd {padding:0px 0px 0px 25px;}
.table_gray tfoot tr td input[readonly] {background:#FDFEFC;}
.table_gray tfoot tr th {background-color:#DBE6C6; color:#333; vertical-align:middle; border-bottom:1px solid #C2D39E;   letter-spacing:-1px; }
.table_gray tfoot tr td {background-color:#F1F5E9; color:#333; vertical-align:middle; border-bottom:1px solid #C2D39E;  letter-spacing:-1px;}
.table_gray input {border:1px solid #aaaaaa}
.table_gray input.non {border:none}

.table_gray-c {width:100%; font-size:12px; border:1px solid #ddd;}
.table_gray-c  tr th {background-color:#ededed; color:#333; border-bottom:1px solid #ddd; font-weight:normal; text-align:center;  padding:5px;}
.table_gray-c  tr td {background-color:#fff; color:#777; vertical-align:middle; border-bottom:1px solid #ddd; text-align:center;padding:5px;}

.table_gray-line {width:100%; font-size:12px; border:1px solid #ddd;}
.table_gray-line  tr th {background-color:#ededed; color:#333; border:1px solid #ddd; font-weight:normal; text-align:center;  padding:5px;}
.table_gray-line  td {background-color:#fff; color:#777; vertical-align:middle; border:1px solid #ddd; text-align:center;padding:5px;overflow:hidden;}


.table_gray-line2 {width:100%; font-size:12px; border:1px solid #ddd;}
.table_gray-line2  tr th {background-color:#ededed; color:#333; border:1px solid #ddd; font-weight:normal; text-align:center;  padding:3px 0;}
.table_gray-line2  td {background-color:#fff; color:#777; vertical-align:middle; border:1px solid #ddd; text-align:center;padding:3px 0;overflow:hidden;}
.table_gray-line2  td.colbox {padding:10px;background-color:#f4fafc}
.table_gray-line2  td.text-left {text-align:left;padding-left:10px}


.card-box {padding:20px;margin-top:20px; background-color: #fff;  ;    border: 1px solid rgba(0, 0, 0, .125);    border-radius:5px }
.card-box ul, ol, li{list-style: none;margin:0; padding:0}
.search-inp-box {padding:10px 0 0 0; font-size:12px}
input.search-inp {border:1px solid #aaaaaa;vertical-align:middle}

.day-up {margin-top:10px}
.day-up ul {clear:both}
.day-up ul li {float:left}
.day-up ul li.tit {width:80px}
.day-up select {height:22px;vertical-align:middle;font-size:12px}

.card-box:after{clear:both; display:block; content"";}

.h-close {background:#fff;position:relative;color:#000;z-index:99;font-size:11px;padding:1px 4px;border-radius:2px;float:right;}


.check-tab {width:100%;margin-bottom:10px;margin-top:-10px}
.check-tab a:first-child {width:34%;border-left:none}
.check-tab a {display:inline-block;background:#e0e0e0;color:#868686;padding:7px 0;width:33%;text-align:center;font-size:0.9em;border-left:1px solid #fff; cursor: pointer;}
.check-tab a:hover {background:#ffeac7;color:#000}
.check-tab a.on {background:#ffdda3;color:#000}

.dep2-st {background:#f2ebe0 url(../img/dep-img.png) no-repeat 10px 7px;padding:5px 0 5px 35px;margin:20px 0 10px 0}
.dep3-st {background:url(../img/dep-img2.png) no-repeat 0px 6px;padding:0 0 0 20px;font-size:0.9em;margin-bottom:5px}

.dep3-area {border:1px solid #ddd;padding:10px;margin-bottom:10px}